@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example website that allows you to create and view Recipes. Simply create an account and you can start creating.</p>
</div>
